numpy==1.26.4
numba
scipy
opencv-python
cffi
ipykernel
matplotlib
zarr
numcodecs
h5py
hydra-core
einops
tqdm
dill
scikit-video
scikit-image
pymunk
wandb
threadpoolctl
shapely
cython
imageio
imageio-ffmpeg
termcolor
tensorboard
tensorboardx
psutil
click
boto3
accelerate
datasets
diffusers==0.33.1
av
cmake
timm
peft
fastapi
uvicorn
pyrealsense2
pydantic
loguru
bson
open3d
transforms3d
pyinstrument
py_cli_interaction
pygame
rerun-sdk
pynput
pyudev
flexivrdk==1.7.0
# install this by yourself
# torch==2.2.2
# torchvision==0.17.2